<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Devon-Building</title>
    <th:block th:replace="~{admin/common/header :: header}"></th:block>
</head>
<body class="no-skin" style="font-family: 'Abel', sans-serif;">
<th:block th:replace="~{admin/common/menu :: menu}"></th:block>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <th:block th:replace="~{admin/common/sidebar :: sidebar}"></th:block>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Dashboard</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Thông tin tòa nhà
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            overview &amp; stats
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">Thông tin tòa nhà</h4>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <form class="form-horizontal" id="form-edit" method="get" th:object ="${building}">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Tên tòa nhà </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập tên tòa nhà..."
                                                       class="form-control"
                                                       id="name" name="name" th:value ="${building.name}">
                                                <span id="noName" class="error-message" style="display:none; color: red;">Vui lòng nhập tên</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Quận </label>
                                            <div class="col-sm-3">
                                                <select name="district" id="districtId" class="form-control">
                                                    <option value="">----</option>
                                                    <option th:each = "district: ${districts}"
                                                            th:value = "${district.key}"
                                                            th:text = "${district.value}"
                                                            th:selected="${district.key == building.district}"
                                                    ></option>

                                                </select>
                                                <span id="noDistrict" class="error-message" style="display:none; color: red;">Vui lòng chọn quận</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Phường </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập phường..." class="form-control"
                                                       id="ward" name="ward" th:value ="${building.ward}">
                                                <span id="noWard" class="error-message" style="display:none; color: red;">Vui lòng nhập phường</span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Đường </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập tên đường..."
                                                       class="form-control" id="street" name="street" th:value ="${building.street}">
                                                <span id="noStreet" class="error-message" style="display:none; color: red;">Vui lòng nhập đường</span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Kết cấu </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="" class="form-control"
                                                       id="structure" name="structure" th:value ="${building.structure}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Số tầng hầm </label>
                                            <div class="col-sm-5">
                                                <input type="number" placeholder="Nhập số tầng hầm..."
                                                       class="form-control" id="numberOfBasement"
                                                       name="numberOfBasement" th:value ="${building.numberOfBasement}">
                                                <span id="noBasement" class="error-message" style="display:none; color: red;">Số tầng hầm không hợp lệ</span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Diện tích
                                                sàn </label>
                                            <div class="col-sm-5">
                                                <input type="number" placeholder="Nhập diện tích sàn..."
                                                       class="form-control" id="floorArea" name="floorArea" th:value ="${building.floorArea}">
                                                <span id="noFloorArea" class="error-message" style="display:none; color: red;">Diện tích sàn không hợp lệ</span>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Hướng </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập Hướng..."
                                                       class="form-control" id="direction" name="direction" th:value ="${building.direction}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Hạng </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập Hạng..."
                                                       class="form-control" id="level" name="level" th:value ="${building.level}">
                                            </div>
                                        </div>


                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right">
                                                    Diện tích thuê
                                                </label>
                                                <div class="col-sm-5">
                                                    <input type="text"
                                                           placeholder="VD: 50,100,200"
                                                           class="form-control"
                                                           id="rentArea"
                                                           name="rentArea"
                                                           th:value="${building != null ? building.rentArea : ''}">
                                                    <span id="noRentArea" class="error-message" style="display:none; color: red;">Diện tích thuê không hợp lệ</span>

                                                </div>
                                            </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Giá
                                                thuê </label>
                                            <div class="col-sm-5">
                                                <input type="number" placeholder="Nhập giá thuê..."
                                                       class="form-control" id="rentPrice" name="rentPrice" th:value ="${building.rentPrice}">
                                                <span id="noRentPrice" class="error-message" style="display:none; color: red;">Giá thuê không hợp lệ</span>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Mô tả giá </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập diện tích thuê..."
                                                       class="form-control" id="rentPriceDescription" name="rentPriceDescription" th:value ="${building.rentPriceDescription}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Phí dịch vụ </label>
                                            <div class="col-sm-5">
                                                <input type="number" placeholder="Nhập phí dịch vụ..."
                                                       class="form-control" id="serviceFee" name="serviceFee" th:value ="${building.serviceFee}">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Phí ô tô </label>
                                            <div class="col-sm-5">
                                                <input type="number" placeholder="Nhập phí ô tô..."
                                                       class="form-control" id="carFee" name="carFee" th:value ="${building.carFee}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Phí mô tô </label>
                                            <div class="col-sm-5">
                                                <input type="number" placeholder="Nhập phí mô tô..."
                                                       class="form-control" id="motoFee" name="motoFee" th:value ="${building.motoFee}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Phí ngoài giờ </label>
                                            <div class="col-sm-5">
                                                <input type="number" placeholder="Nhập phí ngoài giờ..."
                                                       class="form-control" id="overtimeFee" name="overtimeFee" th:value ="${building.overtimeFee}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Tiền điện </label>
                                            <div class="col-sm-5">
                                                <input type="number" placeholder="Nhập tiền điện..."
                                                       class="form-control" id="electricityFee" name="electricityFee" th:value ="${building.electricityFee}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Tiền nước </label>
                                            <div class="col-sm-5">
                                                <input type="number" placeholder="Nhập tiền nước..."
                                                       class="form-control" id="waterFee" name="waterFee" th:value ="${building.waterFee}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Đặt cọc </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập đặt cọc..."
                                                       class="form-control" id="deposit" name="deposit" th:value ="${building.deposit}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Thanh toán </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập thanh toán..."
                                                       class="form-control" id="payment" name="payment" th:value ="${building.payment}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Thời hạn thuê </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập thời hạn thuê..."
                                                       class="form-control" id="rentTime" name="rentTime" th:value ="${building.rentTime}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Thời gian trang trí </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập thời gian trang trí..."
                                                       class="form-control" id="decorationTime" name="decorationTime" th:value ="${building.decorationTime}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Tên Quản Lý </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập tên quản lý..."
                                                       class="form-control" id="managerName" name="managerName" th:value ="${building.managerName}">
                                                <span id="noManagerName" class="error-message" style="display:none; color: red;">Vui lòng nhập tên quản lý</span>

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Số điện thoại quản
                                                lý </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập số điện thoại..."
                                                       class="form-control" id="managerPhoneNumber"
                                                       name="managerPhoneNumber" th:value ="${building.managerPhoneNumber}">
                                                <span class="error-message" id="noManagerPhone"
                                                      style="display: none;color: red;">SĐT phải có đúng 10 số</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Loại tòa nhà</label>
                                            <div class="col-xs-7" >
                                                <Label class="checkbox-inline" th:each="type: ${typeCode}">
                                                    <input type="checkbox"
                                                           name="typeCode"
                                                           class="checkbox-inline"
                                                           th:value="${type.key}"
                                                           th:checked="${building.typeCode != null
                                                                           and building.typeCode.contains(type.key)}">
                                                    <span th:text="${type.value}"></span>
                                                </label>
                                                <span class="error-message" id="noType"
                                                      style="display:none; color: red;">Vui lòng chọn loại tòa nhà</span>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Phí mô giới </label>
                                            <div class="col-sm-5">
                                                <input type="number" placeholder="Nhập phí mô giới..."
                                                       class="form-control" id="brokerageFee" name="brokerageFee" th:value ="${building.brokerageFee}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Ghi chú </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Nhập ghi chú..."
                                                       class="form-control" id="note" name="note" th:value ="${building.note}">
                                            </div>
                                        </div>

                                        <div class="form-actions center">
                                            <a th:href="@{/admin/buildings/list}">
                                                <button type="button" class="btn btn-sm btn-danger">
                                                    Hủy thao tác
                                                    <i class="ace-icon glyphicon glyphicon-remove bigger-110"></i>
                                                </button>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    id="btnAddBuilding" th:text ="${building.id} != null ? 'Cập nhật thông tin': 'Thêm tòa nhà'">
                                                Thêm tòa nhà
                                                <i class="ace-icon glyphicon glyphicon-ok bigger-110"></i>
                                            </button>
                                        </div>
                                        <input type="hidden" id="id" th:value="${building.id}">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.span -->
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <th:block th:replace="~{admin/common/footer :: footer}"></th:block>
</div><!-- /.main-content -->

<th:block th:replace="~{admin/common/common-scripts :: jquery}"></th:block>
<script>

    function resetErrorMessages() {
        document.getElementById("noName").style.display = "none";
        document.getElementById("noDistrict").style.display = "none";
        document.getElementById("noWard").style.display = "none";
        document.getElementById("noStreet").style.display = "none";
        document.getElementById("noManagerName").style.display = "none";
        document.getElementById("noType").style.display = "none";
        document.getElementById("noBasement").style.display = "none";
        document.getElementById("noFloorArea").style.display = "none";
        document.getElementById("noRentPrice").style.display = "none";
        document.getElementById("noRentArea").style.display = "none";

    }


    function validateData(json) {
        resetErrorMessages();
        let check = true;

        if (!json.name || json.name.trim() === "") {
            document.getElementById("noName").style.display = "block";
            check = false;
        }

        if (!json.district || json.district.trim() === "") {
            document.getElementById("noDistrict").style.display = "block";
            check = false;
        }

        if (!json.ward || json.ward.trim() === "") {
            document.getElementById("noWard").style.display = "block";
            check = false;
        }

        if (!json.street || json.street.trim() === "") {
            document.getElementById("noStreet").style.display = "block";
            check = false;
        }

        if (!json.managerName || json.managerName.trim() === "") {
            document.getElementById("noManagerName").style.display = "block";
            check = false;
        }

        if (json['typeCode'].length === 0) { document.getElementById("noType").style.display = "block"; check = false; }

        if (json.numberOfBasement === "" || isNaN(json.numberOfBasement) || Number(json.numberOfBasement) < 0) {
            document.getElementById("noBasement").style.display = "block";
            check = false;
        }


        if (json.floorArea === "" || isNaN(json.floorArea) || Number(json.floorArea) <= 0) {
            document.getElementById("noFloorArea").style.display = "block";
            check = false;
        }


        if (json.rentPrice === "" || isNaN(json.rentPrice) || Number(json.rentPrice) <= 0) {
            document.getElementById("noRentPrice").style.display = "block";
            check = false;
        }

        var phoneRegex = /^\d{10}$/;
        if (!phoneRegex.test(json['managerPhoneNumber'])) {
            document.getElementById("noManagerPhone").style.display = "block";
            check = false;
        }

        if (!json.rentArea || json.rentArea.trim() === "") {
            document.getElementById("noRentArea").style.display = "block";
            check = false;
        } else {
            let rentAreaArr = json.rentArea.split(",");
            for (let i = 0; i < rentAreaArr.length; i++) {
                let value = rentAreaArr[i].trim();
                if (value === "" || isNaN(value) || Number(value) <= 0) {
                    document.getElementById("noRentArea").style.display = "block";
                    check = false;
                    break;
                }
            }
        }

        return check;
    }


    $('#btnAddBuilding').click(function (e) {
        e.preventDefault();

        const json = {};
        const typeCodes = [];

        const formArray = $('#form-edit').serializeArray();

        $.each(formArray, function (i, item) {
            if (item.name === 'typeCode') {
                typeCodes.push(item.value);
            } else {
                // giữ nguyên string (đặc biệt là rentArea)
                if (item.value && item.value.trim() !== '') {
                    json[item.name] = item.value.trim();
                }
            }
        });

        json['typeCode'] = typeCodes;

        const idVal = $('#id').val();
        if (idVal && idVal.trim() !== '') {
            json['id'] = Number(idVal);
        }

        if (!validateData(json)) return;

        console.log("SEND JSON:", JSON.stringify(json));

        if (json['id']) {
            updateBuilding(json);
        } else {
            addBuilding(json);
        }
    });


    // Send data to server by AJAX
        function addBuilding(json) {
            $.ajax({
                url: "/admin/api/buildings",
                type: "POST", // request method
                data: JSON.stringify(json),// convert object to JSON string
                contentType: "application/json", // sending data type(From client to server)
                dataType: 'json', //data type expected from server(From server to client)
                success: function (response) {
                    alert(response.message)
                    window.location.reload();
                },
                error: function (response) {
                    alert(response.responseJSON.detail.join('\n'));
                }
            });
        }

    function updateBuilding(json) {
        $.ajax({
            url: "/admin/api/buildings",
            type: "PUT", // request method
            data: JSON.stringify(json),// convert object to JSON string
            contentType: "application/json", // sending data type(From client to server)
            dataType: 'json', //data type expected from server(From server to client)
            success: function (response) {
                alert(response.message)
                window.location.reload();

            },
            error: function (response) {
                alert(response.responseJSON.detail.join('\n'));
            }
        });
    }

</script>
</body>
</html>